[{ewgi_examples, [
  {webservers, [
    [
      {server_gateway, mochiweb},
      {server_name, "ewgi_examples"},
      {ip, "0.0.0.0"},
      {port, 80},
      {docroot, "priv/www"},
      {ewgi_entry_app, {ewgi_examples_dispatcher, run, []}}
    ],
    [
      {server_gateway, yaws},
      {server_name, "ewgi_examples_over_ssl"},
      {ip, "0.0.0.0"},
      {port, 443},
      {docroot, "priv/www"},
      {ssl, [
          {keyfile, "priv/server.key"},
          {certfile, "priv/server.crt"},
          {cacertfile, "priv/cacert.pem"}
        ]},
      {ewgi_entry_app, {ewgi_examples_dispatcher, run, []}}
    ]
  ]}
]}].
